{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h1>Dom marzeń</h1>
    
    <p>
    Dom moich marzeń<br/> 
    był pełen wrażeń,<br/> 
    miły i cudny,<br/>
    nie jakiś złudny.<br/> 
    Szczęśliwych dzieci,<br/> 
    bez łzy co leci,<br/>
    rozmów bez końca,<br/>
    uśmiechu, słońca.<br/>
    Słowa dobrego<br/>
    tu od każdego<br/>
    i zrozumienia.<br/> 
    Serc nie z kamienia<br/> 
    lecz kochających<br/>
    i też czujących.<br/>
    Gdy źle się dzieje,<br/>
    by mieć nadzieję,<br/>
    że piękne życie,<br/>
    o którym skrycie<br/>
    ja tutaj marzę,<br/>
    to dom ten z marzeń,<br/> 
    ale prawdziwy,<br/>
    i też szczęśliwy.<br/>
    </p>
</article> 
{% endblock %}
