{% extends 'base.html.twig' %}

{% block body %}
     <pre>
    <article>
    <h1>Julian Przyboś</h1>
    <h2>Drzewiej</h2>  
   <p>
       Stamtąd szło się odleglej – wąwozem,<br>
utopionym w głębokim cieniu,<br>
tam gdzie z opuszczonymi ramionami ścieżyn<br>
pustkowie rozpłakało się w brzozę.
</p>
<p>    
Powiew gałęzie liśćmi szeptanymi szerzył.
</p>
<p>
Pnie, zabłąkane w zieleni, szły pomimo woli,<br>
okrążając się własnymi ciałami: rosły.
</p>
<p>
Za potokiem rozłóg gałęził się i pienił<br>
i co krok było cieniściej i drzewiej.
</p>
<p>
Od stóp idących świat się zagęszczał i krzewił<br>
od niebrzepytej głuszy, skąd łąka zamierzchła<br>
uchodziła do dolin.
</p>  
<p>
Na liścia mgnienie<br>
zdało się: pustką, zapomnieniem wiosny,<br>
porębą, którą gałęzie uniosły,<br>
białonoga brzezina przeszła.
</p>
</article>
{% endblock %}
